<div class="pagetitle">
	<h1>Профиль</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Главная</a></li>
			<li class="breadcrumb-item active">Профиль</li>
		</ol>
	</nav>
</div><!-- End Page Title -->

<section class="section profile">
	<div class="row">
		<div class="col-lg-3">

			<div class="card">
				<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

					<img *ngIf="profile.img" [src]="profile?.img" alt="Profile" class="rounded-circle profile">
					<i *ngIf="!profile.img" style="font-size: 5em;" class="bi bi-person-circle"></i>
					<h2>{{profile?.firstname}} {{profile?.lastname}}</h2>
					<h3>{{profile?.role.desc}}</h3>
					<div class="social-links mt-2">
						<a class="twitter"><i class="bi bi-twitter"></i></a>
						<a class="facebook"><i class="bi bi-facebook"></i></a>
						<a class="instagram"><i class="bi bi-instagram"></i></a>
						<a class="linkedin"><i class="bi bi-linkedin"></i></a>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-9">

			<div class="card">
				<div class="card-body pt-3">

					<ul class="nav nav-tabs nav-tabs-bordered">

						<li class="nav-item">
							<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Общее</button>
						</li>

						<li class="nav-item">
							<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Редактировать</button>
						</li>

						<li class="nav-item d-none">
							<button [disabled]="true" class="nav-link" data-bs-toggle="tab"
								data-bs-target="#profile-settings">Доступы</button>
						</li>

						<li class="nav-item d-none">
							<button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-change-password">Изменить
								пароль</button>
						</li>
						<li class="nav-item"
							*ngIf="profile.role.code == 'club' || profile.role.code == 'player' || profile.role.code == 'coach'">
							<button class="nav-link" data-bs-toggle="tab" data-bs-target="#photo">Фотогалерея</button>
						</li>
						<li class="nav-item"
							*ngIf="profile.role.code == 'club' || profile.role.code == 'player' || profile.role.code == 'coach'">
							<button class="nav-link" data-bs-toggle="tab" data-bs-target="#video">Видеогалерея</button>
						</li>

					</ul>

					<div class="tab-content pt-2">
						<!-- Общая информация -->
						<div class="tab-pane fade show active profile-overview" id="profile-overview">
							<h5 class="card-title">Об игроке</h5>
							<p class="small fst-italic">{{profile?.about}}</p>

							<h5 class="card-title">Детали профиля</h5>

							<div class="row">
								<div class="col-lg-3 col-md-4 label ">Полное имя</div>
								<div class="col-lg-9 col-md-8">{{profile?.fullName}}</div>
							</div>

							<div class="row">
								<div class="col-lg-3 col-md-4 label">Клуб</div>
								<div class="col-lg-9 col-md-8">
									<span *ngIf="profile.club"> {{profile?.club?.name}}</span>
									<span *ngIf="!profile.club" class="badge bg-primary">Свободный агент</span>
								</div>

							</div>

							<div class="row">
								<div class="col-lg-3 col-md-4 label">Роль</div>
								<div class="col-lg-9 col-md-8">{{profile?.role?.desc}}</div>
							</div>

							<div class="row">
								<div class="col-lg-3 col-md-4 label">Гражданство</div>
								<div class="col-lg-9 col-md-8">{{profile?.country?.name}}</div>
							</div>

							<div class="row">
								<div class="col-lg-3 col-md-4 label">Адрес</div>
								<div class="col-lg-9 col-md-8">{{profile?.address}}</div>
							</div>

							<div class="row">
								<div class="col-lg-3 col-md-4 label">Телефон</div>
								<div class="col-lg-9 col-md-8">{{profile?.phone}}</div>
							</div>

							<div class="row">
								<div class="col-lg-3 col-md-4 label">Email</div>
								<div class="col-lg-9 col-md-8">{{profile?.email}}</div>
							</div>

						</div>
						<!-- Общая информация -->

						<!-- Редактировать профиль -->
						<div class="tab-pane fade profile-edit pt-3" id="profile-edit">
							<form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
								<!-- Profile image -->
								<div class="row mb-3">
									<label for="profileImage" class="col-md-4 col-lg-3 col-form-label">Фото профиля</label>
									<div class="col-md-8 col-lg-9">
										<img *ngIf="profile?.img" [src]="profile?.img" alt="Profile">
										<span *ngIf="!profile?.img">Нет фото</span>
										<div class="pt-2">
											<a class="btn btn-primary btn-sm" title="Upload new profile image"><i
													class="bi bi-upload"></i></a>
											<a class="btn btn-danger btn-sm" title="Remove my profile image"><i class="bi bi-trash"></i></a>
										</div>
									</div>
								</div>
								<!-- Profile full name -->
								<div class="row mb-3">
									<label for="fullName" class="col-md-4 col-lg-3 col-form-label">Полное имя</label>
									<div class="col-md-8 col-lg-9">
										<input name="fullName" type="text" class="form-control" id="fullName" formControlName="fullName">
									</div>
								</div>

								<div class="row mb-3">
									<label for="about" class="col-md-4 col-lg-3 col-form-label">Об игроке</label>
									<div class="col-md-8 col-lg-9">
										<textarea formControlName="about" name="about" class="form-control" id="about"
											style="height: 100px"></textarea>
									</div>
								</div>

								<div class="row mb-3">
									<label for="company" class="col-md-4 col-lg-3 col-form-label">Клуб</label>
									<div class="col-md-8 col-lg-9">
										<input name="company" type="text" class="form-control" id="company" formControlName="club">
									</div>
								</div>

								<div class="row mb-3">
									<label for="Job" class="col-md-4 col-lg-3 col-form-label">Роль</label>
									<div class="col-md-8 col-lg-9">
										<input name="job" type="text" class="form-control" id="Job" formControlName="role"
											[value]="profile.role" [(ngModel)]="profile.role.desc">
									</div>
								</div>

								<div class="row mb-3">
									<label for="Country" class="col-md-4 col-lg-3 col-form-label">Гражданство</label>
									<div class="col-md-8 col-lg-9">
										<input name="country" type="text" class="form-control" id="Country" formControlName="country"
											[(ngModel)]="profile.country.name" [value]="profile.country">
									</div>
								</div>

								<div class="row mb-3">
									<label for="Address" class="col-md-4 col-lg-3 col-form-label">Адрес</label>
									<div class="col-md-8 col-lg-9">
										<input name="address" type="text" class="form-control" id="Address" formControlName="address">
									</div>
								</div>

								<div class="row mb-3">
									<label for="Phone" class="col-md-4 col-lg-3 col-form-label">Телефон</label>
									<div class="col-md-8 col-lg-9">
										<input name="phone" type="text" class="form-control" id="Phone" formControlName="phone">
									</div>
								</div>

								<div class="row mb-3">
									<label for="Email" class="col-md-4 col-lg-3 col-form-label">Email</label>
									<div class="col-md-8 col-lg-9">
										<input name="email" type="email" class="form-control" id="Email" formControlName="email">
									</div>
								</div>

								<div class="row mb-3">
									<label for="Instagram" class="col-md-4 col-lg-3 col-form-label">Instagram</label>
									<div class="col-md-8 col-lg-9">
										<input name="instagram" type="text" class="form-control" id="Instagram" formControlName="instagram">
									</div>
								</div>
								<div class="text-center">
									<button type="submit" class="btn btn-primary">Сохранить
										изменения</button>
								</div>
							</form>

						</div>
						<!-- Редактировать профиль -->

						<!-- Настройки аккаунта -->
						<!-- <div class="tab-pane fade pt-3" id="profile-settings">
							<form>
								<div class="row mb-3">
									<label for="fullName" class="col-md-4 col-lg-3 col-form-label">Email Notifications</label>
									<div class="col-md-8 col-lg-9">
										<div class="form-check">
											<input class="form-check-input" type="checkbox" id="changesMade" checked>
											<label class="form-check-label" for="changesMade">
												Changes made to your account
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" id="newProducts" checked>
											<label class="form-check-label" for="newProducts">
												Information on new products and services
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" id="proOffers">
											<label class="form-check-label" for="proOffers">
												Marketing and promo offers
											</label>
										</div>
										<div class="form-check">
											<input class="form-check-input" type="checkbox" id="securityNotify" checked disabled>
											<label class="form-check-label" for="securityNotify">
												Security alerts
											</label>
										</div>
									</div>
								</div>

								<div class="text-center">
									<button type="submit" class="btn btn-primary">Save Changes</button>
								</div>
							</form>

						</div> -->
						<!-- Настройки аккаунта -->

						<!-- Смена пароля -->
						<!-- <div class="tab-pane fade pt-3" id="profile-change-password">

							<form>
								<div class="row mb-3">
									<label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Текущий пароль</label>
									<div class="col-md-8 col-lg-9">
										<input name="password" type="password" class="form-control" id="currentPassword">
									</div>
								</div>

								<div class="row mb-3">
									<label for="newPassword" class="col-md-4 col-lg-3 col-form-label">Новый пароль</label>
									<div class="col-md-8 col-lg-9">
										<input name="newpassword" type="password" class="form-control" id="newPassword">
									</div>
								</div>

								<div class="row mb-3">
									<label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Повторно введите пароль</label>
									<div class="col-md-8 col-lg-9">
										<input name="renewpassword" type="password" class="form-control" id="renewPassword">
									</div>
								</div>

								<div class="text-center">
									<button type="submit" class="btn btn-primary">Сохранить</button>
								</div>
							</form>
						</div> -->
						<!-- Смена пароля -->

						<!-- Фотогалерея -->
						<!-- <div class="tab-pane fade pt-3" id="photo">
							<div class="row">
								<div class="col-lg-4 col-md-6">
									<div class="card">
										<p-image src="assets/img/custom/douglas/1.jpg" alt="Image" [preview]="true">
										</p-image>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="card">
										<p-image src="assets/img/custom/douglas/2.jpg" alt="Image" [preview]="true">
										</p-image>
									</div>
								</div>
								<div class="col-lg-4 col-md-6">
									<div class="card">
										<p-image src="assets/img/custom/douglas/3.jpg" alt="Image" [preview]="true">
										</p-image>
									</div>
								</div>
							</div>
						</div> -->
						<!-- Фотогалерея -->


						<!-- Видеогалерея -->
						<!-- <div class="tab-pane fade pt-3" id="video">
							<div class="row">
								<div class="col-lg-6 col-md-6">
									<div class="card">
										<iframe height="250" src="https://www.youtube.com/embed/WMlohXbMo4A" title="YouTube video player"
											frameborder="0"
											allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
											allowfullscreen></iframe>

									</div>
								</div>
								<div class="col-lg-6 col-md-6">
									<div class="card">
										<iframe height="250" src="https://www.youtube.com/embed/me9ft12RmpA" title="YouTube video player"
											frameborder="0"
											allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
											allowfullscreen></iframe>

									</div>
								</div>
							</div>
						</div> -->
						<!-- Видеогалерея -->

					</div>
				</div>
			</div>

		</div>
	</div>
</section>