.dont-have-account {
    a {
        color: #4154f1;
        cursor: pointer;
        text-decoration: underline;
    }
}

.logo img {
    max-height: 50px;
}

mat-form-field.mat-form-field {
    font-size: 13px;
}