<div class="pagetitle">
	<h1 *ngIf="loggedInUser.role.code == 'admin'">Приветствую, Админ платформы</h1>
	<h1 *ngIf="loggedInUser.role.code == 'club'">Приветствую, Админ клуба</h1>
	<h1 *ngIf="loggedInUser.role.code == 'player'">Приветствую, Игрок</h1>
	<h1 *ngIf="loggedInUser.role.code == 'coach'">Приветствую, Тренер</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Главная</a></li>
			<li class="breadcrumb-item active">Центр</li>
		</ol>
	</nav>
</div>

<app-home-club *ngIf="loggedInUser.role.code == 'club' "></app-home-club>
<app-home-coach *ngIf="loggedInUser.role.code == 'coach' "></app-home-coach>