<div class="pagetitle">
	<h1 *ngIf="loggedInUser.role.code == 'admin'">Приветствую, Админ платформы</h1>
	<h1 *ngIf="loggedInUser.role.code == 'club'">Приветствую, Админ клуба</h1>
	<h1 *ngIf="loggedInUser.role.code == 'player'">Приветствую, Игрок</h1>
	<h1 *ngIf="loggedInUser.role.code == 'coach'">Приветствую, Тренер</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Главная</a></li>
			<li class="breadcrumb-item active">Центр</li>
		</ol>
	</nav>
</div>





<section class="section dashboard">
	<div class="row">
		<div class="col-lg-3 col-md-6">
			<div class="card info-card sales-card">

				<div class="filter">
					<a class="icon" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Filter</h6>
						</li>

						<li><a class="dropdown-item">Today</a></li>
						<li><a class="dropdown-item">This Month</a></li>
						<li><a class="dropdown-item">This Year</a></li>
					</ul>
				</div>

				<div class="card-body">
					<h5 class="card-title">Пользователи</h5>
					<div class="d-flex align-items-center">
						<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
							<i class="bi bi-people-fill"></i>
						</div>
						<div class="ps-3">
							<h6>145</h6>
							<small routerLink="/dictionary/users">Подробнее <i class="bi bi-arrow-right"></i></small>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- User Card stat-->



		<!-- Regions Card stat -->
		<div class="col-lg-3 col-md-6">
			<div class="card info-card revenue-card">

				<div class="filter">
					<a class="icon" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Filter</h6>
						</li>

						<li><a class="dropdown-item">Today</a></li>
						<li><a class="dropdown-item">This Month</a></li>
						<li><a class="dropdown-item">This Year</a></li>
					</ul>
				</div>

				<div class="card-body">
					<h5 class="card-title">Регионы</h5>

					<div class="d-flex align-items-center">
						<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
							<i class="bi bi-flag-fill"></i>
						</div>
						<div class="ps-3">
							<h6>18</h6>
							<small routerLink="/dictionary/regions">Подробнее <i class="bi bi-arrow-right"></i></small>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- Regions Card stat -->


		<!-- Free agents Card stat-->
		<div class="col-lg-3 col-md-6">

			<div class="card info-card customers-card">

				<div class="filter">
					<a class="icon" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Filter</h6>
						</li>

						<li><a class="dropdown-item">Today</a></li>
						<li><a class="dropdown-item">This Month</a></li>
						<li><a class="dropdown-item">This Year</a></li>
					</ul>
				</div>

				<div class="card-body">
					<h5 class="card-title">Свободные агенты</h5>

					<div class="d-flex align-items-center">
						<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
							<i class="bi bi-shield-slash-fill"></i>
						</div>
						<div class="ps-3">
							<h6>96</h6>
							<small routerLink="/dictionary/users">Подробнее <i class="bi bi-arrow-right"></i></small>
						</div>
					</div>

				</div>
			</div>

		</div>
		<!-- Free agents Card stat-->

		<!-- Club Card stat -->
		<div class="col-lg-3 col-md-6">

			<div class="card info-card customers-card">

				<div class="filter">
					<a class="icon" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Filter</h6>
						</li>

						<li><a class="dropdown-item">Today</a></li>
						<li><a class="dropdown-item">This Month</a></li>
						<li><a class="dropdown-item">This Year</a></li>
					</ul>
				</div>

				<div class="card-body">
					<h5 class="card-title">Клубы</h5>

					<div class="d-flex align-items-center">
						<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
							<i class="bi bi-shield-fill"></i>
						</div>
						<div class="ps-3">
							<h6>1244</h6>
							<small routerLink="/dictionary/clubs">Подробнее <i class="bi bi-arrow-right"></i></small>
						</div>
					</div>

				</div>
			</div>

		</div>
		<!-- Club Card stat -->
	</div>


	<div class="row">
		<div class="col-lg-8">
			<div class="card recent-sales">
				<div class="filter">
					<a class="icon" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Фильтр</h6>
						</li>

						<li><a class="dropdown-item">Сегодня</a></li>
						<li><a class="dropdown-item">Месяц</a></li>
						<li><a class="dropdown-item">Год</a></li>
					</ul>
				</div>

				<div class="card-body">
					<h5 class="card-title">Добавленные игроки <span>| Сегодня</span></h5>
					<div class="table-responsive">
						<table class="table table-borderless datatable">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Полное имя</th>
									<th scope="col">Клуб</th>
									<th scope="col">Регион</th>
									<th scope="col">Статус</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row"><a>#2457</a></th>
									<td>Алишер Келгенбай</td>
									<td><a class="text-primary">FC Shaurma food</a></td>
									<td>Нур-султан</td>
									<td><span class="badge bg-warning">Имеет клуб</span></td>
								</tr>
								<tr>
									<th scope="row"><a>#2457</a></th>
									<td>Рамазан Оразов</td>
									<td><a class="text-primary">-</a></td>
									<td>Нур-султан</td>
									<td><span class="badge bg-success">Свободный агент</span></td>
								</tr>
							</tbody>
						</table>
					</div>


				</div>

			</div>
			<div class="card recent-sales">
				<div class="filter">
					<a class="icon" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Фильтр</h6>
						</li>

						<li><a class="dropdown-item">Сегодня</a></li>
						<li><a class="dropdown-item">Месяц</a></li>
						<li><a class="dropdown-item">Год</a></li>
					</ul>
				</div>

				<div class="card-body">
					<h5 class="card-title">Добавленные тренеры <span>| Сегодня</span></h5>
					<div class="table-responsive">
						<table class="table table-borderless datatable">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Полное имя</th>
									<th scope="col">Клуб</th>
									<th scope="col">Регион</th>
									<th scope="col">Статус</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<th scope="row"><a>#2457</a></th>
									<td>Курбан Бердыев</td>
									<td><a class="text-primary">Кайрат Алматы</a></td>
									<td>Алматы</td>
									<td><span class="badge bg-warning">Имеет клуб</span></td>
								</tr>
								<tr>
									<th scope="row"><a>#2457</a></th>
									<td>Жозе Моуриньо</td>
									<td><a class="text-primary">-</a></td>
									<td>Португалия</td>
									<td><span class="badge bg-success">Свободный агент</span></td>
								</tr>
							</tbody>
						</table>
					</div>


				</div>

			</div>
		</div>
		<!-- End Recent Sales -->

		<div class="col-lg-4">
			<!-- News & Updates Traffic -->
			<div class="card">
				<div class="filter">
					<a class="icon" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Фильтр</h6>
						</li>

						<li><a class="dropdown-item">Сегодня</a></li>
						<li><a class="dropdown-item">Месяц</a></li>
						<li><a class="dropdown-item">Год</a></li>
					</ul>
				</div>

				<div class="card-body pb-0">
					<h5 class="card-title">Свежие новости <span>| Сегодня</span></h5>

					<div class="news">
						<div class="post-item clearfix">
							<img src="assets/img/custom/news/afl.jpg" alt="">
							<h4><a>“AFL Awards 2021”</a></h4>
							<p>Прошла первая в истории AFL церемония награждения “AFL AWARDS 2021”.</p>
						</div>

						<div class="post-item clearfix">
							<img src="assets/img/custom/news/afl.jpg" alt="">
							<h4><a>“AFL Awards 2021”</a></h4>
							<p>Прошла первая в истории AFL церемония награждения “AFL AWARDS 2021”.</p>
						</div>

						<div class="post-item clearfix">
							<img src="assets/img/custom/news/afl.jpg" alt="">
							<h4><a>“AFL Awards 2021”</a></h4>
							<p>Прошла первая в истории AFL церемония награждения “AFL AWARDS 2021”.</p>
						</div>

						<div class="post-item clearfix">
							<img src="assets/img/custom/news/afl.jpg" alt="">
							<h4><a>“AFL Awards 2021”</a></h4>
							<p>Прошла первая в истории AFL церемония награждения “AFL AWARDS 2021”.</p>
						</div>
					</div>
					<!-- End sidebar recent posts-->

				</div>
			</div>
			<!-- End News & Updates -->
		</div>
	</div>
</section>