<div class="pagetitle">
	<h1>Cвободные агенты</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Главная</a></li>
			<li class="breadcrumb-item active">Свободные агенты</li>
		</ol>
	</nav>
</div>

<section class="section" id="free-agents">
	<div class="row">
		<div class="col-lg-3" *ngFor="let item of freeAgents">
			<div class="card">
				<div class="card-header">
					<button style="width: inherit;" mat-raised-button color="warn">New</button>
					<i class="bi bi-share"></i>
				</div>

				<div class="card-body">
					<div class="text-center">
						<img src="../../../../../assets/img/custom/free-agents/{{item.img}}" alt="">
						<h3>{{item.name}}</h3>
						<p class="club">{{item.club}}</p>
					</div>
					<div class="row">
						<div class="info">
							<b>Уровень лиги</b>
							<span>{{item.league}}</span>
						</div>
						<div class="info">
							<b>Возраст</b>
							<span>{{item.age}}</span>
						</div>
						<div class="info">
							<b>Позиция</b>
							<span>{{item.position}}</span>
						</div>
						<div class="info">
							<b>Опубликовано</b>
							<span>25.01.2022</span>
						</div>
					</div>
				</div>


				<div class="card-footer">
					<div class="links mt-2 text-center">
						<button *ngIf="item.status == 0" (click)="invite(item)" mat-raised-button>Пригласить на просмотр</button>
						<button *ngIf="item.status == 1 " mat-raised-button color="warn">Отозвать</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>