<div class="pagetitle">
	<h1>Cвободные агенты</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Главная</a></li>
			<li class="breadcrumb-item active">Свободные агенты</li>
		</ol>
	</nav>
</div>

<div class="filter card">
	<div class="row d-flex align-items-center">
		<div class="col-lg-2">
			<mat-form-field appearance="outline">
				<mat-label>Позиция</mat-label>
				<mat-select>
					<mat-option *ngFor="let item of positions" [value]="item">{{ item.name }}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-lg-2">
			<mat-form-field appearance="outline">
				<mat-label>Возраст</mat-label>
				<mat-select>
					<mat-option [value]="null">Выберите возраст</mat-option>
					<mat-option *ngFor="let item of ageRange" [value]="item">{{ item.range }}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-lg-2">
			<mat-form-field appearance="outline">
				<mat-label>Лига</mat-label>
				<mat-select>
					<mat-option *ngFor="let item of leagues" [value]="item">{{ item.name }}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="col-lg-2">
			<button mat-raised-button color="primary">Поиск по фильтру</button>
		</div>
		<div class="col-lg-2">
			<button mat-raised-button color="warn">Сбросить фильтр</button>
		</div>
	</div>
</div>

<section class="section" id="free-agents">
	<div class="row">
		<div class="col-lg-3" *ngFor="let item of freeAgents">
			<div class="card">
				<div class="card-header">
					<span class="badge bg-danger d-flex align-items-center">Недавние</span>
					<!-- <button style="width: inherit;" mat-raised-button color="warn">New</button> -->
					<i class="bi bi-share"></i>
				</div>
				<div class="card-body">
					<div class="text-center">
						<img src="../../../../../assets/img/custom/free-agents/{{item.img}}" alt="">
						<h3>{{item.name}}</h3>
						<p class="club">{{item.club}}</p>
					</div>
					<div class="row d-none">
						<div class="info">
							<b>Уровень лиги</b>
							<span>{{item.league}}</span>
						</div>
						<div class="info">
							<b>Возраст</b>
							<span>{{item.age}}</span>
						</div>
						<div class="info">
							<b>Позиция</b>
							<span>{{item.position}}</span>
						</div>
						<div class="info">
							<b>Опубликовано</b>
							<span>25.01.2022</span>
						</div>
					</div>
				</div>


				<div class="card-footer">
					<div class="links mt-2 text-center">
						<button *ngIf="item.status == 0" (click)="invite(item)" mat-raised-button>Пригласить на просмотр</button>
						<button *ngIf="item.status == 1 " mat-raised-button color="warn">Отозвать</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>