<div class="pagetitle">
	<h1>История</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.html">Главная</a></li>
			<li class="breadcrumb-item">Клуб</li>
			<li class="breadcrumb-item active">История</li>
		</ol>
	</nav>
</div>

<section class="section profile">
	<div class="row">
		<div class="col-xl-12">

			<div class="card p-3">

				<div class="d-flex align-items-start">
					<div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
						<button class="nav-link active" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home"
							type="button" role="tab" aria-controls="v-pills-home" aria-selected="true">2009</button>
						<button class="nav-link" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile"
							type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">2010</button>
						<button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages"
							type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">2011</button>
						<button class="nav-link" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings"
							type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false">2012</button>
					</div>
					<div class="tab-content" id="v-pills-tabContent">
						<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quibusdam maxime quas hic ullam, aperiam debitis
							facere!
							Omnis veniam esse necessitatibus optio possimus totam est facere sapiente ab, beatae nulla officiis.
						</div>
						<div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Porro molestiae officiis magni fuga quisquam
							sapiente
							deleniti voluptate unde nobis. Vel facere blanditiis tempore ut! Consectetur, saepe nulla! Quo, vero
							perferendis!
						</div>
						<div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
							В год столетия казахстанского футбола в «Кайрате» произошла целая россыпь событий, каждое из которых
							достойно
							упоминания. Для начала, летом в команду пришел Жоан, на долгое время ставший основополагающим игроком
							стартового
							состава. Уже по ходу сезону и после удачного отбора в Финал четырех клуб покинул Жоао Барбоза, принявший
							решение
							возглавить российский «Сибиряк». Оставшись без главного тренера за два месяца до турнира, руководство идет
							на риск
							и приглашает на эту должность Какау, бывшего игрока «Кайрата» и одно из лучших легионеров в его истории.
							Не имея
							впечатляющего послужного списка (к моменту назначения специалист успел поработать тренером лишь в чешском
							«Хрудиме» и национальной сборной этой страны), Какау приступил к исполнению заветной мечты «кайратовцев» -
							выходу
							в Финал четырех.
						</div>
						<div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
							Алматинская публика впервые познакомилась с европейским футзалом, забив до отказа трибуны спорткомплекса
							имени
							«Балуана Шолака» на полуфинальный матч против «Динамо». Тот день - 9 марта - стал отправной точкой для
							алматинского «Кайрата» в мир топ-клубов Европы.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>