<div class="pagetitle">
	<h1>Идеи</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Главная</a></li>
			<li class="breadcrumb-item active">Идеи</li>
		</ol>
	</nav>
</div><!-- End Page Title -->



<section id="icons">
	<span><i class="bi bi-emoji-frown-fill"></i> Настрой игрока</span> <br>
	<span><i class="bi bi-award-fill"></i> Лучший игрок</span> <br>
	<span><i class="bi bi-collection-play-fill"></i> Коллекция видео</span> <br>
	<span><i class="bi bi-cone-striped"></i> Тренировки</span> <br>

</section>