<div class="pagetitle">
	<h1>Состав</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Главная</a></li>
			<li class="breadcrumb-item">Справочник</li>
			<li class="breadcrumb-item active">Состав</li>
		</ol>
	</nav>
</div><!-- End Page Title -->


<section class="section" id="team">
	<div class="row">
		<div class="col-xl-12">
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
				<li class="nav-item" role="presentation">
					<button class="nav-link active btn-sm" id="pills-all-tab" data-bs-toggle="pill" data-bs-target="#pills-all"
						type="button" role="tab" aria-controls="pills-all" aria-selected="true">Все игроки</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link btn-sm" id="pills-striker-tab" data-bs-toggle="pill" data-bs-target="#pills-striker"
						type="button" role="tab" aria-controls="pills-striker" aria-selected="false">Нападающие</button>
				</li>
				<li class="nav-item" role="presentation">
					<button class="nav-link btn-sm" id="pills-defender-tab" data-bs-toggle="pill" data-bs-target="#pills-defender"
						type="button" role="tab" aria-controls="pills-defender" aria-selected="false">Защитники</button>
				</li>
			</ul>



			<div class="tab-content" id="pills-tabContent">
				<div class="tab-pane fade show active" id="pills-all" role="tabpanel" aria-labelledby="pills-all-tab">
					<div class="row">
						<div class="col-lg-3" *ngFor="let item of allPlayers">
							<div class="card">
								<div class="card-header">
									<span class="badge bg-danger d-flex align-items-center"
										*ngIf="item.position == 'striker' ">Нападающий</span>
									<span class="badge bg-danger d-flex align-items-center"
										*ngIf="item.position == 'defender' ">Зашитник</span>
									<i class="bi bi-share"></i>
								</div>
								<div class="card-body">
									<div class="text-center">
										<img src="../../../../../assets/img/custom/free-agents/{{item.img}}" alt="">
										<h3>{{item.name}}</h3>
										<p class="club">{{item.club}}</p>
									</div>
									<div class="row d-none">
										<div class="info">
											<b>Уровень лиги</b>
											<span>{{item.league}}</span>
										</div>
										<div class="info">
											<b>Возраст</b>
											<span>{{item.age}}</span>
										</div>
										<div class="info">
											<b>Позиция</b>
											<span>{{item.position}}</span>
										</div>
										<div class="info">
											<b>Опубликовано</b>
											<span>25.01.2022</span>
										</div>
									</div>
								</div>


								<div class="card-footer">
									<div class="links mt-2 text-center">
										<button mat-raised-button>Подробнее</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="pills-striker" role="tabpanel" aria-labelledby="pills-striker-tab">
					<div class="row">
						<div class="col-lg-3" *ngFor="let item of strikers">
							<div class="card">
								<div class="card-header">
									<span class="badge bg-danger d-flex align-items-center"
										*ngIf="item.position == 'striker' ">Нападающий</span>
									<span class="badge bg-danger d-flex align-items-center"
										*ngIf="item.position == 'defender' ">Зашитник</span>
									<i class="bi bi-share"></i>
								</div>
								<div class="card-body">
									<div class="text-center">
										<img src="../../../../../assets/img/custom/free-agents/{{item.img}}" alt="">
										<h3>{{item.name}}</h3>
										<p class="club">{{item.club}}</p>
									</div>
									<div class="row d-none">
										<div class="info">
											<b>Уровень лиги</b>
											<span>{{item.league}}</span>
										</div>
										<div class="info">
											<b>Возраст</b>
											<span>{{item.age}}</span>
										</div>
										<div class="info">
											<b>Позиция</b>
											<span>{{item.position}}</span>
										</div>
										<div class="info">
											<b>Опубликовано</b>
											<span>25.01.2022</span>
										</div>
									</div>
								</div>


								<div class="card-footer">
									<div class="links mt-2 text-center">
										<button mat-raised-button>Подробнее</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="tab-pane fade" id="pills-defender" role="tabpanel" aria-labelledby="pills-defender-tab">
					<div class="row">
						<div class="col-lg-3" *ngFor="let item of defenders">
							<div class="card">
								<div class="card-header">
									<span class="badge bg-danger d-flex align-items-center"
										*ngIf="item.position == 'striker' ">Нападающий</span>
									<span class="badge bg-danger d-flex align-items-center"
										*ngIf="item.position == 'defender' ">Зашитник</span>
									<i class="bi bi-share"></i>
								</div>
								<div class="card-body">
									<div class="text-center">
										<img src="../../../../../assets/img/custom/free-agents/{{item.img}}" alt="">
										<h3>{{item.name}}</h3>
										<p class="club">{{item.club}}</p>
									</div>
									<div class="row d-none">
										<div class="info">
											<b>Уровень лиги</b>
											<span>{{item.league}}</span>
										</div>
										<div class="info">
											<b>Возраст</b>
											<span>{{item.age}}</span>
										</div>
										<div class="info">
											<b>Позиция</b>
											<span>{{item.position}}</span>
										</div>
										<div class="info">
											<b>Опубликовано</b>
											<span>25.01.2022</span>
										</div>
									</div>
								</div>


								<div class="card-footer">
									<div class="links mt-2 text-center">
										<button mat-raised-button>Подробнее</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>