<div class="pagetitle">
	<h1>Статистика</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Главная</a></li>
			<li class="breadcrumb-item active">Статистика</li>
		</ol>
	</nav>
</div>


<section class="section dashboard">
	<div class="row">

		<!-- Left side columns -->
		<div class="col-lg-12">
			<div class="row">
				<div class="col-xl-3 col-md-6">
					<div class="card info-card sales-card">

						<div class="filter">
							<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
							<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">

								<li><a class="dropdown-item" href="#">Сегодня</a></li>
								<li><a class="dropdown-item" href="#">Месяц</a></li>
								<li><a class="dropdown-item" href="#">Год</a></li>
							</ul>
						</div>

						<div class="card-body">
							<h5 class="card-title">Пользователи</h5>

							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-people-fill"></i>
								</div>
								<div class="ps-3">
									<h6>145</h6>
									<span class="text-success small pt-1 fw-bold">10</span> <span class="text-muted small pt-2 ps-1">за
										неделю</span>

								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card info-card revenue-card">
						<div class="card-body">
							<h5 class="card-title">Регионы</h5>
							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-flag-fill"></i>
								</div>
								<div class="ps-3">
									<h6>18</h6>
									<span class="text-success small pt-1 fw-bold">8%</span> <span
										class="text-muted small pt-2 ps-1">increase</span>

								</div>
							</div>
						</div>

					</div>
				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card info-card customers-card">
						<div class="card-body">
							<h5 class="card-title">Клубы</h5>
							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-shield-fill"></i>
								</div>
								<div class="ps-3">
									<h6>1244</h6>
									<span class="text-danger small pt-1 fw-bold">12%</span> <span
										class="text-muted small pt-2 ps-1">decrease</span>

								</div>
							</div>

						</div>
					</div>

				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card info-card sales-card">
						<div class="card-body">
							<h5 class="card-title">Свободные агенты</h5>
							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-briefcase-fill"></i>
								</div>
								<div class="ps-3">
									<h6>200</h6>
									<span class="text-danger small pt-1 fw-bold">20</span> <span class="text-muted small pt-2 ps-1">за эту
										неделю</span>

								</div>
							</div>

						</div>
					</div>

				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card info-card revenue-card">
						<div class="card-body">
							<h5 class="card-title">Тренеры с клубом</h5>
							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-clipboard-check"></i>
								</div>
								<div class="ps-3">
									<h6>14</h6>
									<span class="text-danger small pt-1 fw-bold">3</span> <span class="text-muted small pt-2 ps-1">за эту
										неделю</span>

								</div>
							</div>

						</div>
					</div>

				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card info-card customers-card">
						<div class="card-body">
							<h5 class="card-title">Тренеры без клуба</h5>

							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-clipboard-x"></i>
								</div>
								<div class="ps-3">
									<h6>30</h6>
									<span class="text-danger small pt-1 fw-bold">4</span> <span class="text-muted small pt-2 ps-1">за эту
										неделю</span>

								</div>
							</div>

						</div>
					</div>

				</div>

				<div class="col-xl-3 col-md-6">
					<div class="card info-card sales-card">
						<div class="card-body">
							<h5 class="card-title">Игроки с клубом</h5>
							<div class="d-flex align-items-center">
								<div class="card-icon rounded-circle d-flex align-items-center justify-content-center">
									<i class="bi bi-person-check-fill"></i>
								</div>
								<div class="ps-3">
									<h6>30</h6>
									<span class="text-danger small pt-1 fw-bold">4</span> <span class="text-muted small pt-2 ps-1">за эту
										неделю</span>

								</div>
							</div>

						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
</section>