<div class="pagetitle">
	<h1>Тренерский штаб</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Главная</a></li>
			<li class="breadcrumb-item">Справочник</li>
			<li class="breadcrumb-item active">Тренерский штаб</li>
		</ol>
	</nav>
</div>

<section class="section" id="team">
	<div class="row">
		<div class="col-xl-3 col-lg-4 col-md-4 section profile" *ngFor="let item of coaches">
			<div class="card">
				<img src="assets/img/custom/coach/{{item.img}}" alt="Profile" class="">
				<div class="card-body profile-card pt-2 d-flex flex-column align-items-center">
					<h2>{{item.name}}</h2>
					<h3>{{item.position}}</h3>
					<div class="d-grid gap-2 w-100">
						<button class="btn btn-sm btn-primary" type="button">Подробнее</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>