<div class="pagetitle">
	<h1>О клубе</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.html">Главная</a></li>
			<li class="breadcrumb-item">Клуб</li>
			<li class="breadcrumb-item active">О клубе</li>
		</ol>
	</nav>
</div>

<section class="section profile">
	<div class="row">
		<div class="col-lg-3">

			<div class="card">
				<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

					<img [src]="clubInfo?.logo_img" alt="Profile" class="rounded-circle logo">
					<h2>{{clubInfo?.name}}</h2>
					<h3>{{clubInfo?.region?.name}}</h3>
					<div class="social-links mt-2">
						<a target="_blank" href="{{clubInfo?.social_links?.youtube}}" class="youtube"><i
								class="bi bi-youtube"></i></a>
						<a target="_blank" href="{{clubInfo?.social_links?.instagram}}" class="instagram"><i
								class="bi bi-instagram"></i></a>
						<a target="_blank" href="{{clubInfo?.social_links?.tiktok}}" class="tiktok"><i class="bi bi-tiktok"></i></a>
					</div>
				</div>
			</div>

		</div>

		<div class="col-lg-9">
			<div class="card">
				<div class="card-body pt-3">
					<!-- Bordered Tabs -->
					<ul class="nav nav-tabs nav-tabs-bordered">

						<li class="nav-item">
							<button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">О клубе</button>
						</li>

						<li class="nav-item">
							<button class="nav-link" data-bs-toggle="tab" data-bs-target="#titles">Титулы</button>
						</li>

					</ul>
					<div class="tab-content pt-2">

						<div class="tab-pane fade show active profile-overview" id="profile-overview">
							<h5 class="card-title">О клубе</h5>
							<p class="small fst-italic">{{clubInfo?.description}}</p>

							<h5 class="card-title">Детали клуба</h5>

							<div class="row">
								<div class="col-lg-3 col-md-4 label ">Главный тренер</div>
								<div class="col-lg-9 col-md-8">{{clubInfo?.coach?.fullName}}</div>
							</div>



							<div class="row">
								<div class="col-lg-3 col-md-4 label">Владелец</div>
								<div class="col-lg-9 col-md-8">{{clubInfo?.owner}}</div>
							</div>

							<div class="row">
								<div class="col-lg-3 col-md-4 label">Арена/Стадион</div>
								<div class="col-lg-9 col-md-8">{{clubInfo?.stadium}}</div>
							</div>

							<div class="row">
								<div class="col-lg-3 col-md-4 label">Прозвища</div>
								<div class="col-lg-9 col-md-8">{{clubInfo?.nickname}}</div>
							</div>

							<div class="row">
								<div class="col-lg-3 col-md-4 label">Дата основания</div>
								<div class="col-lg-9 col-md-8">{{clubInfo?.founding_date}}</div>
							</div>
							<div class="row">
								<div class="col-lg-3 col-md-4 label">Капитан</div>
								<div class="col-lg-9 col-md-8">{{clubInfo?.captain?.fullName}}</div>
							</div>

						</div>

						<div class="tab-pane fade profile-edit pt-3" id="titles">
							<p>Титулы</p>

						</div>

					</div><!-- End Bordered Tabs -->

				</div>
			</div>

		</div>
	</div>
</section>