<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard-coach/home">
                <i class="bi bi-grid-1x2-fill"></i>
                <span>Центр</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard-coach/news">
                <i class="bi bi-newspaper"></i>
                <span>Новости</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard-coach/training">
                <i class="bi bi-cone-striped"></i>
                <span>Тренировки</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard-coach/schedule">
                <i class="bi bi-table"></i>
                <span>Таблица</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard-coach/fixtures">
                <i class="bi bi-calendar-check-fill
								"></i>
                <span>Расписание/Результаты</span>
            </a>
        </li>



        <li class="nav-heading">Дополнительно</li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard-coach/ideas">
                <i class="bi bi-lightbulb-fill"></i>
                <span>Идеи</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/dashboard-coach/faq">
                <i class="bi bi-question-circle"></i>
                <span>Нужна помощь?</span>
            </a>
        </li>
    </ul>

</aside>
<!-- End Sidebar-->