<h2 mat-dialog-title>Добавить фото</h2>
<mat-dialog-content class="mat-typography">
	<form class="example-form" [formGroup]="addImagesForm">
		<div class="row">
			<div class="col-lg">
				<mat-form-field appearance="outline">
					<mat-label>Ссылка на фото</mat-label>
					<input formControlName="img" matInput>
				</mat-form-field>
			</div>
		</div>
	</form>
</mat-dialog-content>

<mat-dialog-actions align="end">
	<button mat-raised-button mat-dialog-close>Отмена</button>
	<button mat-raised-button color="primary" (click)="addImage()">Сохранить</button>
</mat-dialog-actions>