<div class="pagetitle">
	<h1>Достижения</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a href="index.html">Главная</a></li>
			<li class="breadcrumb-item">Клуб</li>
			<li class="breadcrumb-item active">Достижения</li>
		</ol>
	</nav>
</div>

<section class="section profile">
	<div class="row">
		<div class="col-xl-4">
			<div class="card">
				<img src="https://editorial.uefa.com/resources/025f-0fe0cd7f0734-a5aa8cb0c77f-1000/fbl-eur-c1-draw.jpeg"
					class="card-img-top" alt="...">
				<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
					<h2>Uefa Champions League</h2>
					<h3>2009/2010</h3>
				</div>
			</div>
		</div>
		<div class="col-xl-4">
			<div class="card">
				<img
					src="https://editorial.uefa.com/resources/0268-1217f4c6e060-f8f02f9a0d0d-1000/uefa_europa_league_trophy.jpeg"
					class="card-img-top" alt="...">
				<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
					<h2>Uefa League League</h2>
					<h3>2009/2010</h3>
				</div>
			</div>
		</div>
		<div class="col-xl-4">
			<div class="card">
				<img
					src="https://www.tampabay.com/resizer//-K6kdZu02qxUOXeHBXXib-YGnRo=/1600x900/smart/cloudfront-us-east-1.images.arcpublishing.com/tbt/JJYXE7JE7ZC6RCVUMGJNZ46F4U.aspx"
					class="card-img-top" alt="...">
				<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
					<h2>English Premier League</h2>
					<h3>2009/2010</h3>
				</div>
			</div>
		</div>
	</div>
</section>