<div class="pagetitle">
	<h1>Клубы</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Справочник</a></li>
			<li class="breadcrumb-item active">Клубы</li>
		</ol>
	</nav>
</div><!-- End Page Title -->

<section class="section dashboard">
	<div class="row">
		<!-- Recent Sales -->
		<div class="col-12">
			<div class="card recent-sales">

				<div class="filter">
					<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Действие</h6>
						</li>

						<li><a class="dropdown-item" href="#">Добавить</a></li>
					</ul>
				</div>

				<div class="card-body">
					<h5 class="card-title">Список клубов</h5>

					<table class="table table-borderless datatable">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Код клуба</th>
								<th scope="col">Наименование</th>
								<th scope="col">Адрес</th>
								<th scope="col">Регион</th>
								<th scope="col">Лига</th>
								<th scope="col">Логотип</th>
								<th scope="col">Сайт</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row"><a href="#">#2457</a></th>
								<td>SF</td>
								<td><a href="#" class="text-primary">Shaurma food</a></td>
								<td>Сауран, 34</td>
								<td>Нур-Султан</td>
								<td><span class="badge bg-success">Высшая лига</span></td>
								<td><i class="bi bi-shield-fill"></i></td>
								<td><a href="https://shaurma-food.kz/tarhana">https://shaurma-food.kz/tarhana</a></td>
							</tr>
						</tbody>
					</table>

				</div>

			</div>
		</div><!-- End Recent Sales -->
	</div>
</section>