<h2 mat-dialog-title>Заявка № {{data.id}}</h2>
<mat-dialog-content class="mat-typography">
	<form class="example-form">

		<div class="row">
			<div class="col-lg-6 mb-2">
				<label for="region">Регион</label>
				<input class="form-control" type="text" [value]="data.region" aria-label="Disabled input example" disabled
					readonly>
			</div>
			<div class="col-lg-6 mb-2">
				<label for="region">Лига</label>
				<input class="form-control" type="text" [value]="data.league" aria-label="Disabled input example" disabled
					readonly>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 mb-2">
				<label for="region">Клуб</label>
				<input class="form-control" type="text" [value]="data.club.name" aria-label="Disabled input example" disabled
					readonly>
			</div>
		</div>
		<div class="row">
			<div class="col-lg-12 mb-2">
				<label for="region">Сообщение</label>
				<textarea rows="4" class="form-control" type="text" [value]="data.message" aria-label="Disabled input example"
					disabled readonly>
					</textarea>
			</div>
		</div>
	</form>
</mat-dialog-content>
<mat-dialog-actions align="end">
	<button mat-raised-button color="primary" (click)="accept(data)">Принять</button>
	<button mat-raised-button mat-dialog-close>Отмена</button>
</mat-dialog-actions>