<div class="pagetitle">
	<h1>Пользователи</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Справочник</a></li>
			<li class="breadcrumb-item active">Пользователи</li>
		</ol>
	</nav>
</div><!-- End Page Title -->

<section class="section dashboard">
	<div class="row">
		<!-- Recent Sales -->
		<div class="col-12">
			<div class="card recent-sales">

				<div class="filter">
					<a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Действие</h6>
						</li>

						<li><a class="dropdown-item" href="#">Добавить</a></li>
					</ul>
				</div>

				<div class="card-body">
					<h5 class="card-title">Список пользователей</h5>

					<table class="table table-borderless datatable">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Полное имя</th>
								<th scope="col">Клуб</th>
								<th scope="col">Регион</th>
								<th scope="col">Статус</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th scope="row"><a href="#">#2457</a></th>
								<td>Алишер Келгенбай</td>
								<td><a href="#" class="text-primary">FC Shaurma food</a></td>
								<td>Нур-султан</td>
								<td><span class="badge bg-warning">Имеет клуб</span></td>
							</tr>
							<tr>
								<th scope="row"><a href="#">#2457</a></th>
								<td>John Doe</td>
								<td><a href="#" class="text-primary">ABK-Beton</a></td>
								<td>Нур-султан</td>
								<td><span class="badge bg-success">Свободный агент</span></td>
							</tr>

						</tbody>
					</table>

				</div>

			</div>
		</div><!-- End Recent Sales -->
	</div>
</section>