<div class="pagetitle">
	<h1>Пользователи</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Справочник</a></li>
			<li class="breadcrumb-item active">Пользователи</li>
		</ol>
	</nav>
</div><!-- End Page Title -->

<section class="section dashboard">
	<div class="row">
		<!-- Recent Sales -->
		<div class="col-12">
			<div class="card recent-sales">

				<div class="filter">
					<a class="icon" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Действие</h6>
						</li>

						<li><a class="dropdown-item">Добавить</a></li>
					</ul>
				</div>

				<div class="card-body">
					<h5 class="card-title">Список пользователей</h5>

					<table class="table table-borderless datatable">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Полное имя</th>
								<th scope="col">Клуб</th>
								<th scope="col">Регион</th>
								<th scope="col">Телефон</th>
								<th scope="col">Роль</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let user of userList; let i = index">
								<th scope="row"><a>{{i + 1}}</a></th>
								<td>{{user.firstname}} {{user.lastname}}</td>
								<td>
									<span *ngIf="!user.club" class="badge bg-success">Свободный агент</span>
									<a class="text-primary">{{user?.club?.name}}</a>
								</td>
								<td>{{user?.country?.name}}</td>
								<td>{{user?.phone}}</td>
								<td>{{user?.role?.desc}}</td>
							</tr>

						</tbody>
					</table>

				</div>

			</div>
		</div><!-- End Recent Sales -->
	</div>
</section>