<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

	<ul class="sidebar-nav" id="sidebar-nav">
		<li class="nav-item">
			<a class="nav-link" routerLink="/dashboard-club/home">
				<i class="bi bi-grid-1x2-fill"></i>
				<span>Центр</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/dashboard-club/news">
				<i class="bi bi-newspaper"></i>
				<span>Новости</span>
			</a>
		</li>


		<li class="nav-item">
			<a class="nav-link collapsed" data-bs-target="#dictionary" data-bs-toggle="collapse" href="#">
				<i class="bi bi-shield-fill"></i><span>Клуб</span><i class="bi bi-chevron-down ms-auto"></i>
			</a>
			<ul id="dictionary" class="nav-content collapse" data-bs-parent="#sidebar-nav">
				<li>
					<a routerLink="/dashboard-club/club/about">
						<i class="bi bi-circle-fill"></i><span>О клубе</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard-club/club/history">
						<i class="bi bi-circle-fill"></i><span>История</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard-club/club/coaches">
						<i class="bi bi-circle-fill"></i><span>Достижения</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard-club/club/coaches">
						<i class="bi bi-circle-fill"></i><span>Домашняя арена</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard-club/club/squads">
						<i class="bi bi-circle-fill"></i><span>Команда</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard-club/club/coaches">
						<i class="bi bi-circle-fill"></i><span>Тренерский штаб</span>
					</a>
				</li>


				<li>
					<a routerLink="/dashboard-club/club/coaches">
						<i class="bi bi-circle-fill"></i><span>Детская академия</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard-club/club/coaches">
						<i class="bi bi-circle-fill"></i><span>Администрация</span>
					</a>
				</li>

			</ul>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/dashboard-club/contacts">
				<i class="bi bi-envelope"></i>
				<span>Контакты</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" (click)="displayAlert()">
				<i class="bi bi-graph-up"></i>
				<span>Аналитика</span>
				<span class="badge bg-success ms-auto">Pro</span>
			</a>
		</li>


		<li class="nav-heading">Роли</li>

		<li class="nav-item">
			<a class="nav-link collapsed" routerLink="/dashboard-admin/home">
				<i class="bi bi-person"></i>
				<span>Админ</span>
			</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" routerLink="/dashboard-club/post">
				<i class="bi bi-lightbulb-fill"></i>
				<span>Идеи</span>
			</a>
		</li>
	</ul>

</aside><!-- End Sidebar-->