.sidebar-nav .nav-link {
	background-color: transparent !important;
	color: #012970;
}
.sidebar-nav .nav-link i{
	color: #012970;
}
.sidebar-nav .nav-link:hover {
	background-color: #f6f9ff !important;
}