<div class="pagetitle">
	<h1>Молодежная академия</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Главная</a></li>
			<li class="breadcrumb-item">Справочник</li>
			<li class="breadcrumb-item active">Молодежная академия</li>
		</ol>
	</nav>
</div><!-- End Page Title -->


<section class="section" id="team">
	<div class="row">
		<div class="col-lg-3" *ngFor="let item of youth">
			<div class="card">
				<div class="card-header">
					<span class="badge bg-danger d-flex align-items-center" *ngIf="item.position == 'striker' ">Нападающий</span>
					<span class="badge bg-danger d-flex align-items-center" *ngIf="item.position == 'defender' ">Зашитник</span>
					<i class="bi bi-share"></i>
				</div>
				<div class="card-body">
					<div class="text-center">
						<img src="../../../../../assets/img/custom/youth/{{item.img}}" alt="">
						<h3>{{item.name}} ({{item.age}})</h3>
						<p class="club">{{item.club}}</p>
					</div>
				</div>


				<div class="card-footer">
					<div class="links mt-2 text-center">
						<button mat-raised-button>Подробнее</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>