<div class="pagetitle">
	<h1>Контакты</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Главная</a></li>
			<li class="breadcrumb-item active">Контакты</li>
		</ol>
	</nav>
</div><!-- End Page Title -->

<section class="section contact">

	<div class="row gy-4">

		<div class="col-xl-6">

			<div class="row">
				<div class="col-lg-6">
					<div class="info-box card">
						<i class="bi bi-geo-alt"></i>
						<h3>Адрес</h3>
						<p>Азаттык 45,<br>Косшы, NQZ 010000</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="info-box card">
						<i class="bi bi-telephone"></i>
						<h3>Звонить по номеру</h3>
						<p>+7 747 1117329<br>+7 707 87712 41</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="info-box card">
						<i class="bi bi-envelope"></i>
						<h3>Писать на почту</h3>
						<p>info@example.com<br>contact@example.com</p>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="info-box card">
						<i class="bi bi-clock"></i>
						<h3>График работы</h3>
						<p>Понедельник - Пятница<br>9:00 - 18:00</p>
					</div>
				</div>
			</div>

		</div>

		<div class="col-xl-6">
			<div class="card p-4">
				<form action="forms/contact.php" method="post" class="php-email-form d-none">
					<div class="row gy-4">

						<div class="col-md-6">
							<input type="text" name="name" class="form-control" placeholder="Ваше имя" required>
						</div>

						<div class="col-md-6 ">
							<input type="email" class="form-control" name="email" placeholder="Ваш Email" required>
						</div>

						<div class="col-md-12">
							<input type="text" class="form-control" name="subject" placeholder="Тема" required>
						</div>

						<div class="col-md-12">
							<textarea class="form-control" name="message" rows="6" placeholder="Сообщение" required></textarea>
						</div>

						<div class="col-md-12 text-center">
							<div class="loading">Loading</div>
							<div class="error-message"></div>
							<div class="sent-message">Your message has been sent. Thank you!</div>

							<button type="submit">Отправить сообщение</button>
						</div>

					</div>
				</form>

				<iframe
					src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2505.0128500863057!2d71.4004252155291!3d51.10822307957155!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x424584339b4d4745%3A0x6801793a8e8f82b!2z0JDRgdGC0LDQvdCwLdCQ0YDQtdC90LA!5e0!3m2!1sru!2skz!4v1643649437452!5m2!1sru!2skz"
					height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>

		</div>

	</div>

</section>