<div class="pagetitle">
	<div class="row">
		<div class="col">
			<h1>Новости</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a>Главная</a></li>
					<li class="breadcrumb-item active">Новости</li>
				</ol>
			</nav>
		</div>
		<div class="col text-end" *ngIf="isRole == 'admin' || isRole == 'club' ">
			<button (click)="openAddNewsDialog()" mat-raised-button color="primary">Добавить</button>
		</div>
	</div>
</div>


<section class="section dashboard" id="news">
	<div class="row">
		<!-- <div class="col-xl-3 col-lg-6 col-sm-6 d-none" *ngFor="let news of newsList">
			<div class="card mb-3">
				<img src="assets/img/custom/news/{{news.imgUrl}}" class="card-img-top" alt="...">
				<div class="card-body">
					<h5 class="card-title">{{news.title}}</h5>
					<p class="card-text">{{news.desc}}</p>
					<div class="footer-news">
						<p class="card-text"><small class="text-muted">{{news.createdDate}}</small></p>
						<i *ngIf="isRole == 'admin' || isRole == 'club' " (click)="openEditNewsDialog(news)"
							class="bi bi-pencil-fill"></i>
					</div>
				</div>
			</div>
		</div> -->
		<div class="col-lg-7">

			<!-- Card with an image overlay -->
			<div class="card">
				<img width="100%" src="assets/img/custom/news/12.jpeg" alt="" class="card-img-top h-100" alt="main_news"
					style="object-fit: cover;">
				<div class="card-img-overlay d-flex align-items-end">
					<div class="main_news p-2">
						<span class="badge bg-danger">Новость дня</span>
						<h5 class="card-title">GLOBAL PANDEMIC
							Coronavirus Outbreak LIVE Updates: ICSE, CBSE Exams Postponed, 168 Trains</h5>
						<small><b>Опубликовано сегодня</b></small>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-5">
			<div class="card p-2">
				<div class="card-body pb-0">
					<h5 class="card-title">News &amp; Updates <span>| Today</span></h5>

					<div class="news">
						<div class="post-item clearfix">
							<img src="assets/img/custom/news/12.jpeg" alt="">
							<h4><a>Nihil blanditiis at in nihil autem</a></h4>
							<p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
						</div>
						<div class="post-item clearfix">
							<img src="assets/img/custom/news/12.jpeg" alt="">
							<h4><a>Nihil blanditiis at in nihil autem</a></h4>
							<p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
						</div>
						<div class="post-item clearfix">
							<img src="assets/img/custom/news/12.jpeg" alt="">
							<h4><a>Nihil blanditiis at in nihil autem</a></h4>
							<p>Sit recusandae non aspernatur laboriosam. Quia enim eligendi sed ut harum...</p>
						</div>


					</div>

				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3">
			<div class="card category p-2">
				<div class="card-body">
					<h4 class="card-title">Категории</h4>

					<div class="category_list">
						<p>Трансферы</p>
						<p>Политика</p>
						<p>Финансы</p>
						<p>Технология</p>
					</div>

				</div>
			</div>
		</div>
		<div class="col-lg-9">
			<div class="card p-2">
				<div class="card-body pb-0">
					<!-- <h5 class="card-title">News &amp; Updates <span>| Today</span></h5> -->
					<div class="news news_list">
						<div class="post-item clearfix">
							<div class="row mb-2">
								<div class="col-lg-4">
									<img src="assets/img/custom/news/12.jpeg" alt="">

								</div>
								<div class="col-lg-8">
									<div class="mt-2">
										<h4><a><b>Казахстан пробился в 1/4 финала чемпионата Европы по футзалу</b></a></h4>
										<!-- <small>Опубликовано вчера</small> -->
										<p class="mt-4">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
											an</p>
									</div>
								</div>
							</div>
							<div class="row mb-2">
								<div class="col-lg-4">
									<img src="assets/img/custom/news/12.jpeg" alt="">

								</div>
								<div class="col-lg-8">
									<div class="mt-2">
										<h4><a><b>Казахстан пробился в 1/4 финала чемпионата Европы по футзалу</b></a></h4>
										<!-- <small>Опубликовано вчера</small> -->
										<p class="mt-4">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when
											an</p>
									</div>
								</div>
							</div>
						</div>


					</div>

				</div>
			</div>
		</div>
	</div>
</section>