<div class="pagetitle">
	<h1>Входящие заявки</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Главная</a></li>
			<li class="breadcrumb-item active">Входящие заявки</li>
		</ol>
	</nav>
</div>
<section class="section dashboard">
	<div class="row">
		<!-- Recent Sales -->
		<div class="col-12">
			<div class="card recent-sales">

				<div class="filter">
					<a class="icon" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Фильтр</h6>
						</li>

						<li><a class="dropdown-item">Все</a></li>
						<li><a class="dropdown-item">Новые</a></li>
					</ul>
				</div>

				<div class="card-body">
					<h5 class="card-title">Входящие заявки</h5>

					<table class="table table-borderless datatable">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">ФИО</th>
								<th scope="col">Email</th>
								<th scope="col">Телефон</th>
								<th scope="col">Клуб</th>
								<th scope="col">Регион</th>
								<th scope="col">Лига</th>
								<th scope="col">Действие</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of dataSource">
								<th scope="row"><a>1</a></th>
								<td>{{item.firstName}}</td>
								<td>{{item.email}}</td>
								<td>{{item.phone}}</td>
								<td><a class="text-primary">{{item.club}}</a></td>
								<td> {{item.region}} </td>
								<td><span class="badge bg-success">{{item.league}}</span></td>

								<td>
									<button (click)="accept(item)" color="primary" mat-raised-button>Подробнее</button>
								</td>
							</tr>
						</tbody>
					</table>

				</div>

			</div>
		</div><!-- End Recent Sales -->
	</div>
</section>