<div class="pagetitle">
	<div class="row">
		<div class="col">
			<h1>Входящие заявки</h1>
			<nav>
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a>Главная</a></li>
					<li class="breadcrumb-item active">Входящие заявки</li>
				</ol>
			</nav>
		</div>
		<div class="col text-end">
			<div class="header_action">
				<i *ngIf="displayAsCard == false" (click)="displayAsCard = true" style="font-size: 20px;"
					class="bi bi-grid"></i>
				<i *ngIf="displayAsCard == true" (click)="displayAsCard = false" style="font-size: 20px;"
					class="bi bi-grid-fill"></i>
			</div>
		</div>
	</div>
</div>
<section class="section profile dashboard">
	<div class="row">
		<div class="col-lg-12" *ngIf="!displayAsCard">
			<div class="card recent-sales">
				<div class="filter">
					<a class="icon" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Фильтр</h6>
						</li>

						<li><a class="dropdown-item">Все</a></li>
						<li><a class="dropdown-item">Новые</a></li>
					</ul>
				</div>
				<div class="card-body">
					<h5 class="card-title">Входящие заявки</h5>

					<table class="table table-borderless datatable m-0">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Регион</th>
								<th scope="col">Лига</th>
								<th scope="col">Клуб</th>
								<th scope="col">Статус</th>
								<th scope="col">Действие</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let item of dataSource; let i = index">
								<th scope="row"><a>{{i + 1}}</a></th>
								<td> {{item.region}} </td>
								<td>{{item.league}}</td>
								<td><a routerLink="/club/{{item.club.id}}/about" class="text-primary">{{item.club.name}}</a></td>
								<td>
									<span *ngIf="item.status == 'accepted' " class="badge bg-success">Принята</span>
									<span *ngIf="item.status == 'rejected' " class="badge bg-danger">Отклонена</span>
									<span *ngIf="item.status == 'new' " class="badge bg-primary">Новая</span>
								</td>
								<td>
									<button (click)="accept(item)" type="button" class="btn btn-sm btn-primary">Подробнее</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>



		<div class="col-lg-3" *ngFor="let item of dataSource">
			<div class="card" *ngIf="displayAsCard">

				<div class="filter">
					<a class="icon" data-bs-toggle="dropdown">
						<span *ngIf="item.status == 'new' " class="badge bg-primary">Новая</span>
					</a>
				</div>

				<div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
					<img [src]="item.logo" alt="Profile" class="rounded-circle">
					<h3>{{item.region}}, {{item.league}}</h3>
					<div class="social-links mt-2">
						<button (click)="accept(item)" type="button" class="btn btn-primary btn-sm">Подробнее</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>