<div class="pagetitle">
	<h1>Регионы</h1>
	<nav>
		<ol class="breadcrumb">
			<li class="breadcrumb-item"><a>Справочник</a></li>
			<li class="breadcrumb-item active">Регионы</li>
		</ol>
	</nav>
</div><!-- End Page Title -->

<section class="section dashboard">
	<div class="row">
		<!-- Recent Sales -->
		<div class="col-12">
			<div class="card recent-sales">

				<div class="filter">
					<a class="icon" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
					<ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
						<li class="dropdown-header text-start">
							<h6>Действие</h6>
						</li>

						<li><a class="dropdown-item">Добавить</a></li>
					</ul>
				</div>

				<div class="card-body">
					<h5 class="card-title">Список регионов</h5>

					<table class="table table-borderless datatable">
						<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Код региона</th>
								<th scope="col">Наименование</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let region of regionsList; let i = index">
								<th scope="row">{{i + 1}}</th>
								<td>{{region.code}}</td>
								<td><a class="text-primary">{{region.name}}</a></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>